@tailwind base;
@tailwind components;
@tailwind utilities;

/**
*
* Defaults
*
**/

html {
  animation: slide_in_top 1s ease-in-out both;

  scroll-behavior: smooth;

  overscroll-behavior: none;
}

/**
*
* Classes
*
**/

.container__outer {
  @apply px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8;
}

.container__inner {
  @apply max-w-3xl mx-auto;
}

.link {
  @apply text-orchid-400 hover:text-orchid-500 focus:outline-none focus:ring focus:ring-orchid-400;
}

/**
*
* Animations
*
**/
@keyframes slide_in_top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
