@tailwind base;
@tailwind components;
@tailwind utilities;

/**
*
* Defaults
*
**/
@layer base {
  html {
    animation: slide_in_top 1s ease-in-out both;

    scroll-behavior: smooth;

    overscroll-behavior: none;
  }
}

/**
*
* Classes
*
**/

@layer components {
  .container__outer {
    @apply px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8;
  }

  .container__inner {
    @apply max-w-3xl mx-auto;
  }

  .icon {
    stroke-width: 1.5;

    /* Align middle is necessary for some reason for mobile devices */
    @apply overflow-visible text-white align-middle;
  }

  .focus-util {
    /*
    * NOT TO BE USED DIRECTLY AS CSS 
    * IN CLASSES IT SHOULD BE USED AS `focus:focus-util`
    */
    @apply outline-none ring ring-primary-400;
  }

  .link {
    @apply text-primary-500;
  }

  .link:hover {
    @apply text-primary-400;
  }

  .link:focus {
    @apply focus-util;
  }
}

/**
*
* Animations
*
**/
@keyframes slide_in_top {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Nuxt-Content Overrides */

.nuxt-content {
  @apply prose-sm text-gray-300;
}

.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3 {
  @apply text-gray-200;
}

.nuxt-content h4,
.nuxt-content h5,
.nuxt-content h6 {
  @apply text-gray-300;
}

.nuxt-content p {
  @apply text-gray-300;
}

.nuxt-content a {
  @apply link;
}
