/* -------- Cuerpo -------- */

#cuerpo {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fdf6e3;
}

/* -------- Consola -------- */

#consola {
    height: 600px;
    background: #002b36;
    resize: both;
    overflow: scroll;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

#console-text {
    margin: auto;
    color: #2aa198;
    font-size: small;
    padding: 10px;
}

/* --- Linea de comandos --- */

#comandos {
    width: 100%;
    margin-top: 12px;
    padding: 10px;
    color: #859900;
    background: #002b36;
}

/* -------- Modo fullscreen -------- */

.fullscreen {
    position: fixed;
    height: 100% !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/* -------- Tamaño pantallas -------- */

@media only screen and (min-width: 320px) and (max-width: 479px) {
    #console-text {
        font-size: 12px;
    }
}

/* -------- Cambiar el tema de la pagina (BOOTSTRAP) -------- */

.navbar-dark {
    background-color: #002b36 !important;
}

body {
    background-color: #073642;
}
